{% extends "crowdshipping/header.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'crowdshipping/css/btn-yellow.css' %}">

    <div class="container-fluid">

		<h4>Sign up as:</h4>

        <a href="{% url 'sign_up:consumer' %}" class="btn-yellow"><span>VIP</span></a>
        <a href="{% url 'sign_up:store' %}" class="btn-yellow"><span>Vendor</span></a>
        <a href="{% url 'sign_up:driver' %}" class="btn-yellow"><span>Valet</span></a>
        <br>

        <h4>Or log in:</h4>

        <a href="{% url 'sign_up:login' %}" class="btn-yellow"><span>Log In</span></a>
    </div>

{% endblock %}