{% extends "crowdshipping/header.html" %}
{% load static %}
{% block content %}

	<center>
	<img src="{% static 'crowdshipping/img/vip.png' %}" class="responsive-img" style='height:50px;width:150px;' alt="VIP">
	</center>
<br>
    <section>
        {% if item_list %}
            <div class="thumbnail">
                <div class="row">
                    {% for item in item_list|slice:":" %}
                        <div class="col-xs-2">
                            <a href="#">
                                <img src="{{ item.image.url }}" class="img-responsive" alt="{{ item.name }}" align="left">
                                <p align="middle">{{ item.name }}, as low as: ${{ item.price }}</p>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Nothing available.</p>
        {% endif %}
    </section>

{% endblock %}