{% extends "crowdshipping/header.html" %}
{% load static %}
{% block content %}
	<img src="{% static 'crowdshipping/img/valet.png' %}" class="responsive-img" style='height:50px;width:160px;display: block;margin: auto' alt="Valet">
	<br>

    <h4>Overview</h4>
    <h5>Current time: {% now "F jS Y H:i" %}.</h5>
    <h5>Total number of stores to visit: {{ selected_store|length }}</h5>
    <h5>Total number of orders: {{ order_num }}</h5>

    <div class="container-fluid">

        {% for store in selected_store %}

            <div class="thumbnail">

            <div class="row">

                <div class="col-xs-2">
                    <a href="{% url 'vip:store' store.id %}">
                    <img src="/valet/media/{{ store.image }}" class="img-responsive" alt="{{ store.name }}" align="bottom">
                    </a>

                </div>

                <div class="col-xs-10">
                    <p>Store: {{ store.name }}</p>
                    <p>Address: {{ store.street }}, {{ store.city }}, {{ store.state }}, {{ store.zip_code }}</p>

                    <a href="{% url 'valet:store_detail' driver_id store.id %}" class="btn-yellow"><span>Detail</span></a>
                </div>
            </div>

            </div>

            <p style="text-align: center; font-size: 20px;">&#8675;</p>
        
        {% empty %}
            <p>No orders available.</p>
        {% endfor %}
    <div class="wrapper">
        <a href="{% url 'valet:deliver' driver_id %}" class="btn-yellow" style=""><span>Go To Deliver</span></a>
    </div>

    </div>
<style>
.wrapper{
    text-align: center;
}
{% include "crowdshipping/includes/btn-yellow.css" %}
</style>

{% endblock %}