{% extends "crowdshipping/header.html" %}
{% load static %}
{% block content %}

<style>
.odd {
   margin: 10px;
   padding: 10px;
   max-width: 100%;
   height: 210px;
    opacity: 0.7;
    background-color: #FBFCFC;
}
.even {
   margin: 10px;
   padding: 10px;
   max-width: 100%;
   height: 210px;
    opacity: 0.7;
    background-color: #FBFCFC;
}
.works {
    background-image: url("{% static 'crowdshipping/img/city1.jpg' %}");
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.description{
    font-size: medium;
}
</style>

    <section class="works">
        <br>
        <h2 align="middle" style="color: white;">How it works?</h2>
        <div class="odd" style="word-wrap: break-word">
            <h2>VIP</h2>
            <p class="description">Three major pillars constitute V<sup>3</sup>: VIP, Vendor, and Valet.
                Consumers sign up as VIPs and can easily order from our platform.
                We are designed to delivery products to you in quick and cost-saving manner.</p>
        </div>

        <div class="even" style="word-wrap: break-word">
            <h2 align="right">Vendor</h2>
            <p align="right" class="description">If you own a store, welcome to sign up as our vendor.
                As a vendor you will be able to display your precious products to our platform, so consumers can view and order.
                Going online will bring you more traffic and thus more revenue.
            </p>
        </div>

        <div class="odd" style="word-wrap: break-word">
            <h2>Valet</h2>
            <p class="description">Want to make some money on your way to work? Want to work flexibly without routine?
                Join our Valet team!
                Be your own boss and set your own schedule, we got your back.
            </p>
        </div>
    <br>
    <br>
    </section>
    <hr>
    <section>
        <h2 align="middle">Popular Items</h2>
        {% if item_list %}
            <div class="thumbnail">
                <div class="row">
                    {% for item in item_list|slice:"2:14" %}
                        <div class="col-xs-2">
                            <a href="#">
                                <img src="{{ item.image.url }}" class="img-responsive" alt="{{ item.name }}" align="left">
                                <p align="middle">{{ item.name }}, as low as: ${{ item.price }}</p>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Nothing available.</p>
        {% endif %}
    </section>
{% endblock %}